<!--The content below is only a placeholder and can be replaced.-->
<h1>Dynamic Road Pricing</h1>
<nav class="navbar navbar-expand-md navbar-light bg-faded">

 <!-- https://www.w3schools.com/howto/howto_js_sidenav.asp -->
 <div id="mySidenav" class="sidenav">
   <a href="javascript:void(0)" class="closebtn" id="closeNav" (click)="closeNav()"><i class="fa fa-close"></i></a>

   <div class="nav-heading">Main Menu</div>
   <a id="home_link" class="nav-link" (click)="closeNav()" [routerLink]="['/demo/charge']"><i class="fa fa-home"></i>Charges</a>

<!--
   ADD THESE BACK WHEREVER YOU WANT TO RESTRICT VISIBILITY
   [hidden]="!isAdmin"
   [hidden]="!isLoggedIn"
    -->
   <div class="nav-heading">Administration</div>
   <a id="pricing_link" class="nav-link" (click)="closeNav()" [routerLink]="['/demo/pricing']"><i class="fa fa-file-text-o"></i> Pricing</a>

 </div>

 <!-- Use any element to open the sidenav -->
 <span (click)="openNav()">
   <i id="hamburger_menu_icon" class="fa fa-bars"></i>
 </span>

 <a class="navbar-brand" style="padding-left:10px" href="#">{{ title }}</a>

</nav>

<router-outlet></router-outlet>
